<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
 <!-- Mapping of servlet to url-pattern -->

   <servlet>
      <servlet-name>SignIn</servlet-name>
      <servlet-class>SignIn</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>SignIn</servlet-name>
      <url-pattern>/signin</url-pattern>
   </servlet-mapping>
</web-app>